{% extends 'main.html' %}

{% block content %}

<ul>
    {% for project in projects %}

    <li><a href="{% url 'projects:project_detail' project.id %}">{{project.title}}</a>---{{project.description}}</li>
    <p>CREATED: {{project.created}}</p>
    <p><a href="{% url 'projects:project_update' project.id %}">Update</a>  <a href="{% url 'projects:project_delete' project.id %}">Delete</a></p>
    <img style="width: 500px;" src="{{ project.image.url }}" alt="">

    {% endfor %}
</ul>

{% endblock content %}