{% if page.has_other_pages %}

{% if q_string %}

<div class="pagination">
  <ul class="container">
    {% if page.has_previous %}
    <li><a href='?page={{page.previous_page_number}}&search_query={{q_string}}' class="btn">&#10094; Prev</a></li>
    {% endif %}

    {% for page_ in range %}

    {% if page.number == page_ %}
    <li><a href="?page={{page_}}&search_query={{q_string}}" class="btn btn--sub">{{page_}}</a></li>
    {% else %}
        <li><a href="?page={{page_}}&search_query={{q_string}}" class="btn ">{{page_}}</a></li>
    {% endif %}

    {% endfor %}

    {% if page.has_next %}
    <li><a href='?page={{page.next_page_number}}&search_query={{q_string}}' class="btn">Next &#10095;</a></li>
    {% endif %}
  </ul>
</div>

{% else %}

    <div class="pagination">
      <ul class="container">
        {% if page.has_previous %}
        <li><a href='?page={{page.previous_page_number}}' class="btn">&#10094; Prev</a></li>
        {% endif %}

        {% for page_ in range %}

        {% if page.number == page_ %}
        <li><a href="?page={{page_}}" class="btn btn--sub">{{page_}}</a></li>
        {% else %}
            <li><a href="?page={{page_}}" class="btn ">{{page_}}</a></li>
        {% endif %}

        {% endfor %}

        {% if page.has_next %}
        <li><a href='?page={{page.next_page_number}}' class="btn">Next &#10095;</a></li>
        {% endif %}
      </ul>
    </div>
  
{% endif %}

{% endif %}
